.opacity-container{
    position: fixed;
    background: rgba(0,0,0,0.4);
    z-index: 999;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  header, section, footer{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  /* sections */
  section{
    opacity: 0;
    transform: translateY(20px); /* Adjust as needed */
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
  }
  section.visited{
    opacity: 1;
    transform: translateY(0);
  }
  .bg-transparent{
    background:transparent !important
  }
  .bg-primary{
    background: var(--bc-navbar-primary) !important;
  }
  .bg-secondary{
    background: var(--bc-navbar-secondary) !important;
  }
  /* Header.tsx */
  header.hero {
      position: relative;
      background-size: cover;
    }
    header.hero h1, header.hero .h1 {
      font-size: 4rem;
    }
    @media (min-width: 768px) {
      header.hero h1, header.hero .h1 {
        font-size: 5rem;
      }
    }
    
  .about .about-item {
      max-width: 20rem;
  }
  .services .table tr td .fa-square-check{
    color:green !important
  }
  .services .table tr td .fa-square-xmark{
    color:red !important
  }
  /* Contact.tsx */
.contact {
  position: relative;
  background-color: #343a40;
  background-size: cover;
}
  .contact form{
    background-color: white;
    border-radius: 4rem;
    padding:4rem;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2) ;
  }
.modal-container{
  position: fixed;
  background: white;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: black;
  z-index: 1000;
}

@media (max-width: 768px) {
  .contact-row{
    flex-direction: column;
    margin-bottom:0px !important
  }
}
